<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    ES NECESARIO TENER UBICACIÓN HABILITADA
    <p>Plataforma detectada: {{ platform.platforms().toString() }}</p>
    <p>Ubicación: {{ gps }}</p>
    <p>ssid conectado: {{ ssid }}</p>

    <ion-button disabled="{{ btndisabled }}" color="primary" (click)="getNetworks()">{{ infotxt }}</ion-button>
    <ion-list>
      <ion-item *ngFor="let data of scan">
        {{ data.SSID }} -
        {{ data.BSSID }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
